<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
          font-family: Century Gothic;
      }
      p {
          font-size: 16px;
      }
      button, input {
          font-size: 14px;
      }
    </style>
  </head>
<body>

<p><b>This App sorts a string</b></p>

<form>

String to sort:
<input type="text" id="string_to_sort" name="string_to_sort" placeholder="Enter a string">

<br/><br/>
Sort method:
<br/>
<input type="radio" name="sort_method" value="bubble" checked> Bubble Sort<br/>
<input type="radio" name="sort_method" value="merge"> Merge Sort<br/>

<span><%= flash[:notice] %></span><br/>
<%= button_to "Go", { :action => "index" }, :method => :get %>
</form>
</body>
</html>
